In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [3]:
students = pd.read_csv("C:/Users/Home/Desktop/FYP/EduMate-AI/data/student.csv")

In [4]:
students

,student_id,name,email,course,learning_style,communication,personality,gpa
0,S0001,Hassan Qureshi,hassan.qureshi68@student.edu.pk,Data Science,Kinesthetic,Average,Ambivert,2.84
1,S0002,Usman Rana,usman.rana681@student.edu.pk,Artificial Intelligence,Auditory,Strong,Introvert,2.17
2,S0003,Ahmad Iftikhar,ahmad.iftikhar869@student.edu.pk,Cyber Security,Reading/Writing,Average,Introvert,2.59
3,S0004,Hassan Iftikhar,hassan.iftikhar936@student.edu.pk,Information Technology,Reading/Writing,Weak,Extrovert,3.44
4,S0005,Sana Butt,sana.butt327@student.edu.pk,Software Engineering,Reading/Writing,Strong,Introvert,2.85
...,...,...,...,...,...,...,...,...
495,S0496,Fatima Ashraf,fatima.ashraf990@student.edu.pk,Data Science,Auditory,Strong,Introvert,3.99
496,S0497,Bilal Qureshi,bilal.qureshi373@student.edu.pk,Software Engineering,Kinesthetic,Strong,Ambivert,3.07
497,S0498,Jawad Ashraf,jawad.ashraf313@student.edu.pk,Information Technology,Visual,Weak,Extrovert,2.16
498,S0499,Fatima Qureshi,fatima.qureshi681@student.edu.pk,Cyber Security,Visual,Strong,Extrovert,2.99
499,S0500,Ayesha Ashraf,ayesha.ashraf879@student.edu.pk,Machine Learning,Kinesthetic,Average,Ambivert,3.12

In [6]:
students.shape

(500, 8)

In [7]:
students.sample(10)

,student_id,name,email,course,learning_style,communication,personality,gpa
283,S0284,Hamza Chaudhry,hamza.chaudhry178@student.edu.pk,Machine Learning,Visual,Average,Extrovert,2.67
267,S0268,Hassan Khan,hassan.khan376@student.edu.pk,Software Engineering,Reading/Writing,Strong,Introvert,2.77
342,S0343,Ali Malik,ali.malik767@student.edu.pk,Deep Learning,Kinesthetic,Strong,Ambivert,2.59
304,S0305,Sana Chaudhry,sana.chaudhry357@student.edu.pk,Information Technology,Visual,Strong,Introvert,3.52
380,S0381,Muneeb Sheikh,muneeb.sheikh533@student.edu.pk,Software Engineering,Reading/Writing,Weak,Extrovert,3.05
488,S0489,Usman Iftikhar,usman.iftikhar917@student.edu.pk,Information Technology,Reading/Writing,Strong,Extrovert,2.83
431,S0432,Bilal Ashraf,bilal.ashraf295@student.edu.pk,Software Engineering,Auditory,Strong,Extrovert,3.79
415,S0416,Bilal Rana,bilal.rana581@student.edu.pk,Software Engineering,Auditory,Strong,Introvert,3.09
382,S0383,Muneeb Sheikh,muneeb.sheikh242@student.edu.pk,Data Science,Kinesthetic,Weak,Introvert,3.33
487,S0488,Sana Qureshi,sana.qureshi712@student.edu.pk,Cloud Computing,Auditory,Strong,Extrovert,3.60

In [9]:
students.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      500 non-null    object
 1   name            500 non-null    object
 2   email           500 non-null    object
 3   course          500 non-null    object
 4   learning_style  500 non-null    object
 5   communication   500 non-null    object
 6   personality     500 non-null    object
 7   gpa             500 non-null    float64
dtypes: float64(1), object(7)
memory usage: 31.4+ KB

In [10]:
students.describe(include = 'all')

,student_id,name,email,course,learning_style,communication,personality,gpa
count,500,500,500,500,500,500,500,500.000000
unique,500,137,499,9,4,3,3,NaN
top,S0500,Hiba Ashraf,zara.sheikh232@student.edu.pk,Deep Learning,Reading/Writing,Weak,Extrovert,NaN
freq,1,9,2,68,136,177,173,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000700
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.561254
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.537500
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.990000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.470000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.990000

In [12]:
students.dtypes

student_id         object
name               object
email              object
course             object
learning_style     object
communication      object
personality        object
gpa               float64
dtype: object

In [13]:
students.isnull().sum()

student_id        0
name              0
email             0
course            0
learning_style    0
communication     0
personality       0
gpa               0
dtype: int64

In [16]:
students.duplicated().sum()

np.int64(0)

In [17]:
students.corr(numeric_only = True)

     gpa
gpa  1.0