In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [3]:
students = pd.read_csv("C:/Users/Home/Desktop/FYP/EduMate-AI/data/student.csv")

In [4]:
students

,student_id,name,email,course,learning_style,communication,personality,gpa
0,S0001,Hassan Qureshi,hassan.qureshi68@student.edu.pk,Data Science,Kinesthetic,Average,Ambivert,2.84
1,S0002,Usman Rana,usman.rana681@student.edu.pk,Artificial Intelligence,Auditory,Strong,Introvert,2.17
2,S0003,Ahmad Iftikhar,ahmad.iftikhar869@student.edu.pk,Cyber Security,Reading/Writing,Average,Introvert,2.59
3,S0004,Hassan Iftikhar,hassan.iftikhar936@student.edu.pk,Information Technology,Reading/Writing,Weak,Extrovert,3.44
4,S0005,Sana Butt,sana.butt327@student.edu.pk,Software Engineering,Reading/Writing,Strong,Introvert,2.85
...,...,...,...,...,...,...,...,...
495,S0496,Fatima Ashraf,fatima.ashraf990@student.edu.pk,Data Science,Auditory,Strong,Introvert,3.99
496,S0497,Bilal Qureshi,bilal.qureshi373@student.edu.pk,Software Engineering,Kinesthetic,Strong,Ambivert,3.07
497,S0498,Jawad Ashraf,jawad.ashraf313@student.edu.pk,Information Technology,Visual,Weak,Extrovert,2.16
498,S0499,Fatima Qureshi,fatima.qureshi681@student.edu.pk,Cyber Security,Visual,Strong,Extrovert,2.99
499,S0500,Ayesha Ashraf,ayesha.ashraf879@student.edu.pk,Machine Learning,Kinesthetic,Average,Ambivert,3.12

In [5]:
students.columns

Index(['student_id', 'name', 'email', 'course', 'learning_style',
       'communication', 'personality', 'gpa'],
      dtype='object')

In [6]:
students.shape

(500, 8)

In [7]:
students.sample(10)

,student_id,name,email,course,learning_style,communication,personality,gpa
314,S0315,Bilal Siddiqui,bilal.siddiqui389@student.edu.pk,Information Technology,Reading/Writing,Weak,Introvert,2.10
142,S0143,Hassan Rana,hassan.rana817@student.edu.pk,Artificial Intelligence,Reading/Writing,Average,Introvert,2.36
307,S0308,Jawad Rana,jawad.rana669@student.edu.pk,Data Science,Auditory,Strong,Introvert,3.41
349,S0350,Zara Rana,zara.rana889@student.edu.pk,Cyber Security,Visual,Weak,Ambivert,2.92
28,S0029,Sana Rana,sana.rana428@student.edu.pk,Artificial Intelligence,Reading/Writing,Average,Extrovert,3.07
459,S0460,Zara Qureshi,zara.qureshi447@student.edu.pk,Information Technology,Auditory,Strong,Introvert,2.64
433,S0434,Maryam Iftikhar,maryam.iftikhar658@student.edu.pk,Information Technology,Reading/Writing,Weak,Extrovert,2.48
318,S0319,Sana Malik,sana.malik549@student.edu.pk,Deep Learning,Visual,Strong,Ambivert,3.29
412,S0413,Maryam Ashraf,maryam.ashraf683@student.edu.pk,Cloud Computing,Reading/Writing,Weak,Ambivert,2.84
327,S0328,Zara Iftikhar,zara.iftikhar634@student.edu.pk,Deep Learning,Visual,Average,Ambivert,2.58

In [8]:
students.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student_id      500 non-null    object
 1   name            500 non-null    object
 2   email           500 non-null    object
 3   course          500 non-null    object
 4   learning_style  500 non-null    object
 5   communication   500 non-null    object
 6   personality     500 non-null    object
 7   gpa             500 non-null    float64
dtypes: float64(1), object(7)
memory usage: 31.4+ KB

In [9]:
students.describe(include = 'all')

,student_id,name,email,course,learning_style,communication,personality,gpa
count,500,500,500,500,500,500,500,500.000000
unique,500,137,499,9,4,3,3,NaN
top,S0500,Hiba Ashraf,zara.sheikh232@student.edu.pk,Deep Learning,Reading/Writing,Weak,Extrovert,NaN
freq,1,9,2,68,136,177,173,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000700
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.561254
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.537500
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.990000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.470000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.990000

In [10]:
students.dtypes

student_id         object
name               object
email              object
course             object
learning_style     object
communication      object
personality        object
gpa               float64
dtype: object

In [11]:
students.isnull().sum()

student_id        0
name              0
email             0
course            0
learning_style    0
communication     0
personality       0
gpa               0
dtype: int64

In [12]:
students.duplicated().sum()

np.int64(0)

In [13]:
students.corr(numeric_only = True)

     gpa
gpa  1.0

In [14]:
students.head()

,student_id,name,email,course,learning_style,communication,personality,gpa
0,S0001,Hassan Qureshi,hassan.qureshi68@student.edu.pk,Data Science,Kinesthetic,Average,Ambivert,2.84
1,S0002,Usman Rana,usman.rana681@student.edu.pk,Artificial Intelligence,Auditory,Strong,Introvert,2.17
2,S0003,Ahmad Iftikhar,ahmad.iftikhar869@student.edu.pk,Cyber Security,Reading/Writing,Average,Introvert,2.59
3,S0004,Hassan Iftikhar,hassan.iftikhar936@student.edu.pk,Information Technology,Reading/Writing,Weak,Extrovert,3.44
4,S0005,Sana Butt,sana.butt327@student.edu.pk,Software Engineering,Reading/Writing,Strong,Introvert,2.85

In [15]:
print('<----- VALUE COUNTS OF STUDENT_ID COLUMN ----->') 
print('')
print('student_id shape:', students[['student_id']].value_counts().shape)
print('')
print('--------------------------------------------------------')
print('Frequency Counts:\n', students[['student_id']].value_counts())

<----- VALUE COUNTS OF STUDENT_ID COLUMN ----->

student_id shape: (500,)

--------------------------------------------------------
Frequency Counts:
 student_id
S0500         1
S0001         1
S0002         1
S0003         1
S0484         1
             ..
S0009         1
S0008         1
S0007         1
S0006         1
S0005         1
Name: count, Length: 500, dtype: int64

In [16]:
print('<----- VALUE COUNTS OF NAME COLUMN ----->') 
print('')
print('name shape:', students[['name']].value_counts().shape)
print('')
print('--------------------------------------------------------')
print('Frequency Counts:\n', students[['name']].value_counts())

<----- VALUE COUNTS OF NAME COLUMN ----->

name shape: (137,)

--------------------------------------------------------
Frequency Counts:
 name
Hiba Ashraf      9
Jawad Rana       8
Jawad Malik      8
Bilal Malik      8
Sana Chaudhry    8
                ..
Hamza Sheikh     1
Hiba Rana        1
Usman Butt       1
Zara Malik       1
Zara Khan        1
Name: count, Length: 137, dtype: int64

In [17]:
print('<----- VALUE COUNTS OF EMAIL COLUMN ----->') 
print('')
print('email shape:', students[['email']].value_counts().shape)
print('')
print('--------------------------------------------------------')
print('Frequency Counts:\n', students[['email']].value_counts())

<----- VALUE COUNTS OF EMAIL COLUMN ----->

email shape: (499,)

--------------------------------------------------------
Frequency Counts:
 email
zara.sheikh232@student.edu.pk       2
usman.siddiqui837@student.edu.pk    1
ahmad.sheikh115@student.edu.pk      1
ahmad.ashraf568@student.edu.pk      1
usman.siddiqui83@student.edu.pk     1
                                   ..
ahmad.rana221@student.edu.pk        1
ahmad.rana570@student.edu.pk        1
ahmad.rana729@student.edu.pk        1
ahmad.rana796@student.edu.pk        1
ahmad.ashraf970@student.edu.pk      1
Name: count, Length: 499, dtype: int64

In [18]:
print('<----- VALUE COUNTS OF COURSE COLUMN ----->') 
print('')
print('course shape:', students[['course']].value_counts().shape)
print('')
print('--------------------------------------------------------')
print('Frequency Counts:\n', students[['course']].value_counts())

<----- VALUE COUNTS OF COURSE COLUMN ----->

course shape: (9,)

--------------------------------------------------------
Frequency Counts:
 course
Deep Learning              68
Machine Learning           64
Information Technology     64
Data Science               58
Artificial Intelligence    55
Computer Networks          55
Software Engineering       47
Cloud Computing            46
Cyber Security             43
Name: count, dtype: int64

In [19]:
print('<----- VALUE COUNTS OF LEARNING STYLE COLUMN ----->') 
print('')
print('learning _style shape:', students[['learning_style']].value_counts().shape)
print('')
print('--------------------------------------------------------')
print('Frequency Counts:\n', students[['learning_style']].value_counts())

<----- VALUE COUNTS OF LEARNING STYLE COLUMN ----->

learning _style shape: (4,)

--------------------------------------------------------
Frequency Counts:
 learning_style
Reading/Writing    136
Auditory           127
Visual             119
Kinesthetic        118
Name: count, dtype: int64

In [20]:
print('<----- VALUE COUNTS OF COMMUNICATION COLUMN ----->') 
print('')
print('communication shape:', students[['communication']].value_counts().shape)
print('')
print('--------------------------------------------------------')
print('Frequency Counts:\n', students[['communication']].value_counts())

<----- VALUE COUNTS OF COMMUNICATION COLUMN ----->

communication shape: (3,)

--------------------------------------------------------
Frequency Counts:
 communication
Weak             177
Strong           172
Average          151
Name: count, dtype: int64

In [21]:
print('<----- VALUE COUNTS OF PERSONALITY COLUMN ----->') 
print('')
print('personality shape:', students[['personality']].value_counts().shape)
print('')
print('--------------------------------------------------------')
print('Frequency Counts:\n', students[['personality']].value_counts())

<----- VALUE COUNTS OF PERSONALITY COLUMN ----->

personality shape: (3,)

--------------------------------------------------------
Frequency Counts:
 personality
Extrovert      173
Introvert      165
Ambivert       162
Name: count, dtype: int64

In [22]:
print('<----- VALUE COUNTS OF GPA COLUMN ----->') 
print('')
print('GPA shape:', students[['gpa']].value_counts().shape)
print('')
print('--------------------------------------------------------')
print('Frequency Counts:\n', students[['gpa']].value_counts())

<----- VALUE COUNTS OF GPA COLUMN ----->

GPA shape: (186,)

--------------------------------------------------------
Frequency Counts:
 gpa
3.33    7
2.95    7
2.98    6
3.71    6
2.59    6
       ..
3.85    1
3.90    1
3.89    1
3.92    1
3.98    1
Name: count, Length: 186, dtype: int64

In [24]:
students.head()

,student_id,name,email,course,learning_style,communication,personality,gpa
0,S0001,Hassan Qureshi,hassan.qureshi68@student.edu.pk,Data Science,Kinesthetic,Average,Ambivert,2.84
1,S0002,Usman Rana,usman.rana681@student.edu.pk,Artificial Intelligence,Auditory,Strong,Introvert,2.17
2,S0003,Ahmad Iftikhar,ahmad.iftikhar869@student.edu.pk,Cyber Security,Reading/Writing,Average,Introvert,2.59
3,S0004,Hassan Iftikhar,hassan.iftikhar936@student.edu.pk,Information Technology,Reading/Writing,Weak,Extrovert,3.44
4,S0005,Sana Butt,sana.butt327@student.edu.pk,Software Engineering,Reading/Writing,Strong,Introvert,2.85

In [30]:
# standardize personality type
students['personality'] = students['personality'].str.lower()

In [32]:
students['personality']

0       ambivert
1      introvert
2      introvert
3      extrovert
4      introvert
         ...
495    introvert
496     ambivert
497    extrovert
498    extrovert
499     ambivert
Name: personality, Length: 500, dtype: object